@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-stroke {
  color: #d1d5db; /* Tailwind's text-gray-300 */
   text-shadow: 0 0 14px #ffb700; /* amber glow */
  -webkit-text-stroke: 1px #d4ad00; /* amber border */
}
